body {
  background: #360033;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0b8793, #360033);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0b8793, #360033);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

::selection {
  background: #3db39e;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #3db39e;
  color: #fff;
  text-shadow: none;
}

::-webkit-selection {
  background: #3db39e;
  color: #fff;
  text-shadow: none;
}

/*위의 가상선택자들은 드래그 색깔들*/
#main div {
  width: 100%;
  text-align: center;
}

#container {
  position: static;
  height: 460px;
}

section a:link {
  color: white;
  text-decoration: none;
}

section a:visited {
  color: white;
  text-decoration: none;
}

section a:hover {
  color: white;
  text-decoration: none;
}

#hobby a:link,#hobby a:visited, #hobby a:hover   {
  color: purple;
  text-decoration: none;
}

#current a:link,#current a:visited,#current a:hover   {
  color: white;
  text-decoration: underline;
}

#main, #contact, #current, header, #hobby, #ex{
  font-family: 'Poor Story', cursive;
}


#kor{
  font-family: 'Poor Story', cursive;
  font-size:30pt;
  float:right;
}

#main h1 {
  font-family: 'Kumar One';
  font-size: 90pt;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -80px;
}

#main .myimg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 180px;
  width: auto;
  height: auto;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.himg {
  width: 700px;
}

#main p {
  font-size: 25pt;
}

h2 {
font-family: 'Song Myung', serif;
  font-size: 50pt;
  text-align: center;
  padding: 0;
  margin: 0;
}

#contact p, #current p, #hobby p, #ex p {
  font-size: 25pt;
  text-align: center;
}

#current {
  text-align: center;
}

#current img {
  width: 400px;
}

#hobby {
  background-color: white;
  color: #18252f;
  margin: auto;
  width:1300px;
  padding: 0;
  text-align: center;
}

#contact div {
  height: 700px;
}

#contact h2 {
  font-size: 50pt;
}

#contact img {
  height: 30px;
}

body::-webkit-scrollbar {
  display: none;
}

/*스크롤바 안보이게 하는 기능.*/
.overlay::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
  width: 98%;
  margin: 0 auto;
  padding: 0px;
}


/* x자 표시나는 메뉴바 실행키 */
.container {
  display: inline-block;
  cursor: pointer;
  /*내 웹페이지의 구원자!!!!!!!!!ㄹㅇ......흑흑*/
  z-index: 2;
  position: fixed;
  top: 40px;
  right: 30px
}

/*스크롤 인디케이트*/
.progress-container {
  width: 100%;
  height: 5px;
  background: #18252f;
  position: fixed;
  z-index: 1;
}

.progress-bar {
  height: 5px;
  background: #3db39e;
  width: 0%;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}


.overlay .closebtn {
  position: absolute;
  top: 7px;
  right: 20px;
  font-size: 60px;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 20px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 80px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 1.s;
  /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: visible;
  }

  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

#main .one img {
  position: absolute;
}

.wobble-ver-left {
  -webkit-animation: wobble-ver-left 1.5s infinite both;
  animation: wobble-ver-left 1.5s infinite both;
}

/* ---------------------------------------------- * Generated by Animista on 2019-6-1 18:35:27 * w: http://animista.net, t: @cssanimista * ---------------------------------------------- */
/** * ---------------------------------------- * animation wobble-ver-left * ---------------------------------------- */
@-webkit-keyframes wobble-ver-left {
  0%, 100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
    transform: translateY(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
    transform: translateY(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
    transform: translateY(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateY(9px) rotate(2.4deg);
    transform: translateY(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateY(-6px) rotate(-1.2deg);
    transform: translateY(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-ver-left {
  0%, 100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
    transform: translateY(-30px) rotate(-6deg);
  }

  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
    transform: translateY(15px) rotate(6deg);
  }

  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
    transform: translateY(-15px) rotate(-3.6deg);
  }

  60% {
    -webkit-transform: translateY(9px) rotate(2.4deg);
    transform: translateY(9px) rotate(2.4deg);
  }

  75% {
    -webkit-transform: translateY(-6px) rotate(-1.2deg);
    transform: translateY(-6px) rotate(-1.2deg);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-2 2:49:1
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract main h2
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/*사진 넘어가는거!*/
* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  max-height: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides:not(.first) {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #3db39e;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}
